@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: theme('colors.slate.200');
}

.font-display {
    font-family: 'Poppins', sans-serif;
}
